.chat {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
}

.chat_part {
  overflow: auto;
  height: 100%;
}

.header {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 3px;
}

.title {
  font-weight: bold;
  font-size: 25px;
}

.subText {
  font-weight: 400;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  max-height: 600px;
  overflow: auto;
}

.form {
  /* "flex flex-row bg-gray-200 dark:bg-coolDark-400 rounded-md px-4 py-3 z-10 max-w-screen-lg mx-auto dark:text-white shadow-md" */

  display: flex;
  justify-content: space-around;
  background-color: rgb(247, 241, 241);
  border-radius: 8px;
  padding: 16px;
}