.chat {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
}

.chat_part {
  overflow: auto;
  height: 100%;
}

.list {
  margin: 0;
  padding: 0;
  max-height: 600px;
  overflow: auto;
}

.form {
  display: flex;
  justify-content: space-around;
  background-color: rgb(247, 241, 241);
  border-radius: 8px;
  padding: 16px;
}

.message {
  list-style-type: none;
}